.home-container {
  padding: 3rem;
  text-align: center;
  position: relative; // Necesario para posicionar elementos hijos

  .login-button {
    position: absolute;     // Posicionamiento libre dentro del contenedor
    top: 1rem;              // Distancia desde arriba
    right: 1rem;            // Distancia desde la derecha
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
}
